In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('PAT_FINAL.csv')

In [3]:
df.head()

                 Name   Age Net_Worth           Income Source    Citizenship
0       Paul Saville   66.0    $1.6 B            Real Estate   United States
1         Georg Haub   60.0    $2.2 B       Fashion & Retail         Germany
2        Arvind Tiku   52.0    $2.2 B                 Energy           India
3         Bill Gross   77.0    $1.6 B  Finance & Investments   United States
4  Hartono Kweefanus   72.0    $1.2 B        Food & Beverage       Indonesia

# Q1: Which is the 8th country that has produced maximum number of billionaires?

# Q2: How many Duplicate Values are present in the Dataframe
* Find Duplicate using Name

# Q3: Which is the industry with the highest and Lowest average net worth for billionaires in the Forbes dataset?
* Industry here refers to Income Source 
* Check for type mismatch errors before finding mean 
* You have to find the mean of all the similar Income Sources and find the highest among them and then lowest among them

# Q4: What is the distribution of the age of billionaires in the dataset? (Medium)
* PreProcess the Age column first either drop all the values that are not required or convert them to NAN {This is a very important step will be used in further questions as well}

# Q5: Who is the 10th Richest Indian Billionaire  (Medium)
* Drop the Duplicate Values using Name then proceed further

# Q6: What is the average net worth of billionaires in the technology industry?
* Only find for billionaires having single Income Source 
* Dont consider billionaires having more than 1 Income Source

# Q7: What is the position of the 10th Richest Billionaire from Tech Industry in the Forbes List (Medium)
* Create an Index showing the rank according to Net Worth (Sort then create index column)
* Then Proceed further with Technology as Income Source

# Q8: What is the total net worth of the top 100 billionaires in the Forbes dataset, and what percentage of the total net worth of all billionaires does this represent?
* Find Net Worth held by top 100 People
* Then find the percentage of the answer with the total net worth

# Q9: What is the average age of billionaires in the Technology industry?

# Q10: Draw a Graph depicting mean Net Worth of billionaires per Country(Medium)
* For some people Education has been written in Citizenship Column find those and change there citizenship to India
* After doing  it plot the graph

# Q11: Top 5 industries that has the most billionaires?

# Q12: Create a Violinplot that shows the distribution of Net Worths(Greater than 50B) across different Industries

# Q13: Create a Heatmap that shows the correlation between age and net worth for billionaires in the technology industry?

# Q14: What is the relationship between the age and net worth of billionaires from the top 10 countries? Create a scatter plot matrix to visualize it.

# Q15: What is the average age of billionaires in the USA? How does it compare to the average age of billionaires in other countries? 
* Find Mean of Age when Citizenship == USA
* Find Mean of Age when Citizenship is not equal to USA(All other countries other than USA)